<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <script src = "http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
    //Browser Support Code
    function ajaxFunction(){
      var ajaxRequest;  // The variable that makes Ajax possible!
  
      try{
        // Opera 8.0+, Firefox, Safari
        ajaxRequest = new XMLHttpRequest();
      } catch (e){
        // Internet Explorer Browsers
        try{
          ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
          try{
            ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
          } catch (e){
            // Something went wrong
            alert("Your browser broke!");
            return false;
          }
        }
      }
    }
    //-->

    //display previous searches
    $(function display()
    {
        $("#query1 span").html(localStorage.getItem('query1'));
        $("#query2 span").html(localStorage.getItem('query2'));
        $("#query3 span").html(localStorage.getItem('query3'));
    });

    //set endDate as default current day
    $(document).ready(function(){
        var now = new Date();
        var month = (now.getMonth() + 1);               
        var day = now.getDate();
        if(month < 10) 
            month = "0" + month;
        if(day < 10) 
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;
        $('#endDate').val(today);
    });
      
    //store variables to localStorage 
    function testResults (form)
    {
        var Hashtag1 = form.textfield.value;
        var Hashtag2 = form.textfield2.value;
        var startDate = form.startDate.value;
        var endDate = form.endDate.value;
        //alert ("You typed:   " + Hashtag1 + "    " + Hashtag2);
        localStorage.setItem('query3', localStorage.getItem('query1'));
        localStorage.setItem('query1', Hashtag1);
        localStorage.setItem('query2', Hashtag2);
        localStorage.setItem('startDate', startDate);
        localStorage.setItem('endDate', endDate);
    }

    </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/soaringStyle.css">
<title>Soaring Tunes</title>
</head>
 
<div id="wrap">
<body>
<div class="header">
  <h1>Soaring Tunes</h1>
</div>
<form id="form1" name="form1" method="post" action= "/form">
  <h3>Which #hashtags would you like to search?</h3>
  <p>
  <span>
    <label for="textfield">Query 1: #</label>
    <input type="text" name="textfield" id="textfield" Value="">
  </span>
  <span>
    <label for="textfield2">Query 2: #</label>
    <input type="text" name="textfield2" id="textfield2" Value="">
  </span>
  </p>
  <h3>From which date range would you like results?</h3>
  <p>
  <span>
    <label for="date">Start Date:</label>
    <input type="date" name="startDate" id="startDate">
  </span>
  <span>
    <label for="date2">End Date:</label>
    <input type="date" name="endDate" id="endDate">
  </span>
  </p>
  <h3>Search Radius</h3>
  <p>
    <label for="number"> Radius (miles): </label>
    <input name="number" type="number" id="number" max="250" min="1" value="25">
  </p>
  <p>
    <input type="submit" name="submit" id="submit" value="Submit" onClick="testResults(this.form)">
  </p>
</form>
<div class="lastSearches">
  <h2>Your last 3 Searches</h2>
  <ul>
    <li><div id="query1">#<span></span></div></li>
    <li><div id="query2">#<span></span></div></li>
    <li><div id="query3">#<span></span></div></li>
  </ul>
</div>
  <h2>Top 10 Most Popular Searches</h2>
  <div>
  <ul>
    <li>#1</li>
    <li>#2</li>
    <li>#3</li>
    <li>#4</li>
    <li>#5</li>
    <li>#6</li>
    <li>#7</li>
    <li>#8</li>
    <li>#9</li>
    <li>#10</li>
  </ul>
</div>
<p>&nbsp;</p>
</body>
<footer>
<span><a href="http://developers.soundcloud.com/docs"><img src = "http://developers.soundcloud.com/assets/powered_by_black.png"></a></span>
<span>&copy; Arrowsmith 2013</span>
</footer>
</div>
      
</html>